.title {
    margin-top: 0px;
    margin-right: 2288px;

}

.instructions {
    margin-right: 200px;
    margin-top: 0px;
}

.heading {
    height: 40px;
}

#start_button {
    margin-top: 0px;
}

body {
    background-size: 1900px;
}

#canvas {
    width: 360px;
    height: 360px;
    border: solid;
    border-color: light-grey;
}
