.title {
    margin-top: 0px;
    margin-right: 2288px;

}

.instructions {
    margin-right: 200px;
    margin-top: 0px;
}

.heading {
    height: 40px;
}

#start_button {
    margin-top: 0px;
}

body {
    background-size: 1900px;
}

video {
    width: 360px;
    height: 360px;
    border: solid;
    border-color: linear-gradient(aqua, coral);
    border-radius: 10px;
}

.footer{
    width: 100%;
    margin-bottom: 0px;
    background-color: cobalt blue;
}

.restart{
    font-size: 15px;
    margin-top:0px;
}
